<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>감사 이력 조회</title>
</head>
<body>
    <h2>[ <span th:text="${username != null ? username : '전체'}"></span> ] 계정 처리 이력</h2>
    <table border="1">
        <tr>
            <th>변경 일시 (DB 자동생성)</th>
			<th>배치 실행일자</th>
            <th>계정명</th>
            <th>최종 상태</th>
            <th>상세 사유</th>
        </tr>
        <tr th:each="audit : ${audits}">
            <td th:text="${#temporals.format(audit.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
			<td th:text="${audit.executionDate}"></td>
            <td th:text="${audit.username}"></td>
            <td th:text="${audit.finalAction}"></td>
            <td th:text="${audit.errorMessage}"></td>
        </tr>
    </table>
</body>
</html>